<span class="material-icons md-12 expand-arrow" 
[ngClass]="{expand: expanded && node?.children?.length}"><i class="fas fa-angle-right"></i></span>
<i class="fas {{getIconByNodeType(node)}}"></i>
<a *ngIf="node?.value?.canRead !== false && !node?.isLeaf" href="javascript:void(0)" (click)="nodeClicked()">  {{node?.value?.name}}</a>
<span *ngIf="node && node.value.canRead === false" 
>  {{node.value.name}}
<i class="fas fa-ban"></i></span>

<span *ngIf="node?.isLeaf " 
>  {{node?.value?.name}} </span>

<ul *ngIf="node && node.children && node.children.length" [hidden]="!this.expanded">
    <li *ngFor="let child of node.children" >
       <app-tree-node [node]="child"  [getIconByNodeType]="getIconByNodeType" (nodeClick)="nodeClick.emit($event)"></app-tree-node>
         </li>
</ul>   