
    li {
        list-style: none;
    }


.expand-arrow {
    i {
    transition: transform 500ms;
    margin-right: 3px;
    }
}
.expand {
    i {
    transform: rotate(90deg); 
    }
}

.material-icons {
    font-size: 14px;
}
a {
    text-decoration: none;
}